<form action="/login" method="POST">
  <h2>Account Login</h2>
  <div>
    <label for="">
      <input type="text" placeholder="Email" name="email">
    </label>
  </div>
  <div>
    <label for="">
      <input type="text" placeholder="Password" name="password">
    </label>
  </div>
  {{#if fail}}
  <div><strong>Username 或Password 錯誤</strong></div>
  {{/if}}
  <button type="submit">Sign in</button>
</form>